/* Allgemeiner Container für Inhalte */

/* Angebote Container */
.offers-container {
    align-items: flex-start;
    gap: 20px; /* Abstand zwischen den Kästen */
    max-width: 1200px;
    width: 100%; /* Volle Breite */
    margin: 0 auto; /* Zentrierung */
    padding: 20px;
}

/* Einzelne Angebote */
.offer {
    background: linear-gradient(90deg, rgba(140, 82, 255, 0.6), rgba(92, 225, 230, 0.6));
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5); /* Schatten */
    text-align: center;
    padding: 25px;
    transition: transform 0.3s ease-in-out;
    width: 70%;
    margin: 10px;
    border: 1px solid white;

}
.offer h3{
    font-size: 1.5vw;
    margin-bottom: 3vh;
}
.offer p{
    padding: 2px;
    line-height: 1.4;
}

.offer:hover {
    transform: translateY(-5px); /* Hover-Effekt */
}

/* Hinweis zu Angeboten */
.offers-note {
    background: transparent;
    color: #ffffff; /* Weißer Text */
    text-align: center;
    padding: 15px;
    border-radius: 8px;
    margin: 20px auto; /* Abstand und Zentrierung */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
    font-size: 1em;
    max-width: 1200px; /* Gleiche Breite wie der Container */
    width: 50%;
    border: 2px solid #6f00b0;

}

.offers-note strong {
    color: aqua; /* Türkisfarbene Hervorhebung */
    font-weight: bold;
}
