body {
    font-family: Arial, sans-serif;
    text-align: center;
}

#seatLayout {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.row {
    display: flex;
    margin-bottom: 5px;
}

.seat {
    width: 30px;
    height: 30px;
    margin: 5px;
    background-color: lightgray;
    border-radius: 5px;
    cursor: pointer;
}

.seat.parkett {
    background-color: lightgreen;
}

.seat.vip {
    background-color: gold;
}

.seat.loge {
    background-color: purple;
}

.seat.selected {
    border: 2px solid black;
}

button {
    margin-top: 20px;
}
