/* Specials Container */
.specials-container {
    display: flex;
    flex-wrap: wrap;
    white-space: nowrap;
    justify-content: center;
    gap: 10px;
    padding: 10px;
    margin: 20px auto;
    max-width: 90%;
    max-height: 45vh;
    font-family: "Lato", sans-serif;

}

/* Einzelne Angebote */
.special-offer {
    display: flex; /* Flexbox für horizontale Anordnung */
    align-items: center;
    background: linear-gradient(90deg, rgba(140, 82, 255, 0.6), rgba(92, 225, 230, 0.6));
    border-radius: 10px;
    border: 1px solid white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    padding: 15px;
    width: 45%;
    height: 40vh;
    overflow: hidden;
    transition: transform 0.3s ease-in-out;
}

.special-offer:hover {
    transform: scale(1.05);
}

/* Bilder */
.special-offer img {
    width: 40%;
    height: 90%;
    object-fit: cover;
    border-radius: 8px;
    margin-right: 15px;
}

.special-offer h3,
.special-offer p,
.special-date {
    margin: 1%; /* Entfernt unnötige Standardabstände */
}
.special-text {
    display: flex;
    flex-direction: column; /* Elemente im Textcontainer vertikal anordnen */
    justify-content: flex-start; /* Elemente oben ausrichten */
    gap: 10px; /* Abstand zwischen Textbereichen */
    width: 100%; /* Füllt den verfügbaren Platz aus */
}
/* Titel */
.special-offer h3 {
    font-size: 1.5em;
    color: #ffa1ff;
    margin-bottom: 15px;
}

/* Beschreibung */
.special-offer p {
    font-size: 1em;
    color: #ffffff;
    margin-bottom: 15px;
    line-height: 1.4;
}

/* Datum */
.special-date {
    display: block;
    font-size: 0.9em;
    font-weight: bold;
    color: #5afff5;
    margin-top: 10px;
}
