# Ignoriere Node Modules (global)
node_modules/

# Umgebungsvariablen
#cineo_backend/.env

# Abhängigkeiten
cineo_backend/node_modules/

cineo_backend/node_modules/.bin/

# Ignoriere die IDEA Dateien
.idea/

#Ignoriere die .env Datei
cineo_backend/.env

#Ignoriere die Code-Coverage-Berichte
coverage/

