# Ignoriere die .env-Datei im Backend-Ordner
cineo_backend/.env

# Ignoriere den node_modules-Ordner im Backend-Ordner
cineo_backend/node_modules/

# Ignoriere den globalen node_modules-Ordner
node_modules/

# Ignoriere IDEA
.idea/