# Ignoriere Node Modules (global)
node_modules/

# Ignoriere Node Modules im backend 
cineo_backend/node_modules/

# Ignoriere die IDEA Dateien
.idea/

#Ignoriere die .env Datei
cineo_backend/.env

#Ignoriere die Code-Coverage-Berichte
coverage/

