.container {
    width: 70%;
    margin: 50px auto;
    background-color: #40004e;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
}

h1, h2 {
    text-align: center;
    margin-bottom: 20px;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    padding: 15px;
    background-color: #550060;
    border: 1px solid #ffa1ff;
    margin-bottom: 10px;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

form {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

fieldset {
    border: 1px solid #5afff5;
    padding: 20px;
    border-radius: 5px;
    margin-top: 10px;
}

legend {
    padding: 0 10px;
    font-weight: bold;
}

input, select, button {
    padding: 10px;
    border-radius: 5px;
    border: none;
    font-size: 1em;
}

select {
    cursor: pointer;
}

button {
    background-color: #5afff5;
    color: #1a001f;
    font-weight: bold;
    cursor: pointer;
}

button:hover {
    background-color: #44c2b3;
}

li button {
    background-color: #ff4b4b;
    color: white;
    border: none;
    cursor: pointer;
}

li button:hover {
    background-color: #c23d3d;
}

/* Tabellen-Design */
table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

th, td {
    padding: 15px;
    text-align: center;
    border: 1px solid #ffa1ff;
}

th {
    background-color: #550060;
}

tr:nth-child(even) {
    background-color: #660070;
}
