
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  
  max-width: 1500px;
  width: 60vw;
  position: relative;
  margin-right: 5vw;
  height: 45vh;
}


.sliding-wrapper .slide-button {
  height: 50px;
  width: 50px;
  color: #fff;
  background: none;
  font-size: 2.2rem;
  cursor: pointer;
  border: none;
  opacity: 0.6;
  outline: none;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);

}

.slide-button {
  position: relative;
}

.sliding-wrapper .slide-button:hover{
  opacity: 1;
}

.sliding-wrapper .slide-button#prev-slide{
  left: -60px;

}

.sliding-wrapper .slide-button#next-slide{
  right: -60px;
}

.sliding-wrapper .image-list {
  display: grid;
  gap: 18px;
  grid-template-columns: repeat(10, 1fr);
  font-size: 0;
  overflow-x: auto;
  scrollbar-width: none;

}      



.sliding-wrapper .image-list .image-item{
    width: 90vh;
    height: 45vh;
    object-fit: cover;
}

.image-container {
  position: relative; /* Positionierung relativ zum übergeordneten Element */
  display: inline-block;
}


.play-button {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 40%; /* Größe des Playbuttons */
  height: 80%;
  transform: translate(-50%, -50%);
  opacity: 0; /* Unsichtbar, solange nicht gehovered */
  transition: opacity 0.3s ease; /* Weicher Übergang beim Hover */
  cursor: pointer;
  
}

.image-container:hover .play-button {
  opacity: 0.8; /* Sichtbar beim Hover */
}

.sliding-wrapper .image-list::-webkit-scrollbar{
  display: none;

}

.container2 {
  margin-right: 12vw;
}


.Standort, .Öffnungszeiten {
  font-size: 3vh;
  font-family: "Lato", sans-serif;
  text-decoration: underline;
  font-weight: bold;
  color: #fff;
  margin-bottom: 2vh; /* Fügt Abstand zwischen den Abschnitten hinzu */
}
.Adresse {
  font-size: 2.5vh;
  text-decoration-line: none;
  margin-right: 13px;
  text-align: right;
  margin-right: 0%;
  margin-left: 12vw;
  color: #fff;
  font-family: "Lato",sans-serif;
  margin-bottom: 2vh;
}
.Zeiten{
  font-size: 2.5vh;
  color: #fff;
  text-align: right;
  margin-right: 0%;
  font-family: "Lato", sans-serif;
}


.Standort i, .Öffnungszeiten i {
  margin-right: 8px; /* Abstand zwischen Icon und Text */
}

