body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #2a002e;
  }
  .form-container {
    background: #2a002e;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 300px;
  }
  .form-container h2 {
    margin-bottom: 20px;
    font-size: 1.5em;
    color: #ff00ff;
  }
  .form-container label {
    display: block;
    margin-bottom: 5px;
    color: white;
  }
  .form-container input {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ddd;
    border-radius: 4px;
    color: white;
    font-size: 1em;
    background: #2a002e;
  }
  .form-container button {
    width: 100%;
    padding: 10px;
    border: none;
    background: #5d009a;
    color: #fff;
    font-size: 1em;
    border-radius: 4px;
    cursor: pointer;
  }
  .form-container button:hover {
    background: #5d009a;
  }
  .message {
    margin-top: 10px;
    font-size: 0.9em;
    color: #ff00ff;
  }
  

 /* Stil für die anklickbaren Links */
.switch-link {
    color: #5d009a;
    text-decoration: underline;
    cursor: pointer;
}

/* Hover-Effekt für die Links */
.switch-link:hover {
    color: #3d006a;
}

p {
    color: #555; /* Hier kannst du die gewünschte Farbe einfügen */
}


#notification-container {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1000;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.notification {
    background-color: #f8d7da; /* Rot für Fehler */
    color: #721c24;
    padding: 15px 25px;
    margin: 10px 0;
    border: 3px solid #5e0009;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 5);
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-width: 300px;
    text-align: center;
}

.notification.success {
    background-color: #d4edda; /* Grün für Erfolg */
    color: #155724;
    border-color: #c3e6cb;
    border: 2px solid #003e00;
}

.notification button {
    background: none;
    border: none;
    color: inherit;
    font-size: 16px;
    margin-left: 10px;
    cursor: pointer;
}

