
/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Globals */
body {
    margin: 0;
    display: flex;
    flex-direction: column;
    height: 100vh;
    background-color: #220537;
    color: white;
    overflow-x: hidden; /* Keine horizontale Scrollbar */
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: #b089f2;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    background: white;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background: #5afff5;
}

a {
    color: white;
    text-decoration: none;
}

/* Logo und Header */
.img_mainStyle_cineoLogo {
    position: absolute;
    top: 1vh;
    left: 1vw;
    height: 10vh;
    object-fit: contain;
}

.img_mainStyle_accountLogin {
    position: absolute;
    top: 1vh;
    right: 1vw;
    height: 10vh;
    object-fit: contain;
}

.h1_mainStyle_headingTopMiddle {
    position: absolute;
    top: 5vh;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 5vh;
    text-align: center;
    color: white;
    font-family: Futura, Serif;
}

/* Navigation oben */
.div_mainStyle_navigationTop {
    position: absolute;
    top: 12vh;
    width: 100vw;
    height: 5vh;
    background-color: rgba(86, 1, 146, 0.7);
    display: flex;
    justify-content: right;
    align-items: center;
    z-index: 10;
    border: 1px solid slateblue;
    border-radius: 5px;
}

.div_mainStyle_navigationTop a {
    color: #ffffff;
    margin: 0 5vw;
    font-size: 3vh;
    font-family: "Lato", sans-serif;
    font-weight: lighter;
}

.div_mainStyle_navigationTop a:hover {
    color: #5afff5;
}

/* Navigations-Balken unten */
.div_mainStyle_navigationBeamBottom {
    background-color: #560192;
    width: 100vw;
    height: 2vh;
    position: fixed;
    bottom: 9vh;
    z-index: 10;
    opacity: 70%;
    border: 1px solid slateblue;
    border-radius: 5px;
}

.div_mainStyle_navigationBottom {
    background-color: #220537;
    width: 100%;
    height: 9vh;
    position: fixed;
    bottom: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10;
}

.div_mainStyle_navigationBottom a {
    color: #ffffff;
    margin: 0 5vw;
    font-size: 2vh;
    font-family: "Lato", sans-serif;
    font-weight: normal;
}

.div_mainStyle_navigationBottom a:hover {
    text-decoration: underline;
}

.div_mainStyle_navigationBottom .a_mainStyle_highlightLinkBottom {
    font-weight: bold;
}

/* Hauptinhalt */
.main-content {
    flex-grow: 1; /* Nutzt den verfügbaren Platz zwischen Header und Footer */
    margin-top: calc(12vh + 5vh); /* Platz für Header und Navigation oben */
    margin-bottom: calc(9vh + 2vh); /* Platz für unteren Balken und Footer */
    width: 100%; /* Breite auf die gesamte Seite anpassen */
    padding: 20px; /* Innenabstand für Inhalte */
    overflow-y: auto; /* Inhalt scrollbar, falls zu groß */
    color: white; /* Textfarbe */
    display: flex;
    justify-content: center;
    align-items: flex-start; /* Inhalte oben ausrichten */
}
