@import url("https://fonts.googleapis.com/css2?family=Lato:wght@100&display=swap");


html {
    font-size: 100%;
    /* Stellt sicher, dass 1rem = 16px ist */
}


body {
    display: flex;
    flex-direction: column;
    /* Vertikale Anordnung */
    justify-content: flex-start;
    /* Inhalt am oberen Rand ausrichten */
    align-items: center;
    /* Horizontale Zentrierung */
    height: 100vh;
    /* Volle Höhe des Viewports */
    margin: 0;
    /* Standardmargin entfernen */
    /*font-family: "Lato", sans-serif;*/
    overflow-y: auto;
    /* Vertikale Scrollbar bei Bedarf anzeigen */
    overflow-x: hidden;

   /* transition: all 0.4s ease-out;*/
    /* Animation für alle Layout-Änderungen */


    padding: 0;
}



#movie-title {
    font-family: "Lato", sans-serif;
    -webkit-text-stroke: 1.7px white;
    letter-spacing: 3px;

}


  



::-webkit-scrollbar {
    width: 10px;
    /* Breite der Scrollbar */
}

/* Hintergrund der Scrollbar */
::-webkit-scrollbar-track {
    background: #b089f2;
    border-radius: 10px;
}

/* Scroll-Leiste */
::-webkit-scrollbar-thumb {
    background: white;
    /* Farbe der Scroll-Leiste */
    border-radius: 10px;
}

/* Scroll-Leiste beim Hover */
::-webkit-scrollbar-thumb:hover {
    background: #5afff5;
    /* Farbe der Scroll-Leiste beim Hover */
}

.arrow {
    width: 1.3em;
    margin-left: -10vw;
    margin-top: 0.5vh;
}


.left-aligned {
    position: absolute;
    margin-top: 21vh;
    display: flex;
    /* Flex für die enthaltenen Elemente */
    justify-content: flex-start;
    /* Elemente nach links ausrichten */
    width: 100%;
    /* Nimmt die volle Breite ein */
    height: 73vh;
    flex-direction: column;
}



#movie-image {
    width: 21vw;
    height: 55vh;
    border-radius: 15px;
    border: 0.025vh solid #5afff5;
    margin: 5vh 0 0 6vw;
    opacity: 0; /* Bild ist zu Beginn unsichtbar */
    transform: translateX(-100%); /* Startposition ist außerhalb auf der linken Seite */
    animation: image-fly-in 1s ease-out forwards; /* Animation anwenden */
}

/* Keyframes für das Einfliegen des Bildes */
@keyframes image-fly-in {
    0% {
        transform: translateX(-100%); /* Bild ist außerhalb auf der linken Seite */
        opacity: 0; /* Bild ist unsichtbar */
    }
    100% {
        transform: translateX(0); /* Bild fliegt in seine endgültige Position */
        opacity: 1; /* Bild ist sichtbar */
    }
}


.first-line {
    display: flex;
    justify-content: flex-start;
    border: none;
    /* border-top: 0.5px solid #5afff5;*/

    border-top: 1px solid;
    border-image: linear-gradient(to right, #5afff5, #5afff5, #220537) 1;

    width: 50vw;
    margin-left: 0;
    margin: 0;
    /* Entfernt alle Ränder */
    padding: 0;
    /* Entfernt Innenabstand */


    opacity: 0; /* Beginnt unsichtbar */
    transform: translateX(-100%); /* Start von links außerhalb */
    animation: line-animation 0.5s forwards; /* Animation anwenden */

}


/* Keyframes für die Animation */
@keyframes line-animation {
    0% {
        transform: translateX(-100%); /* Linie außerhalb von links */
        opacity: 0; /* Unsichtbar */
    }
    100% {
        transform: translateX(0); /* Linie an ihren endgültigen Platz */
        opacity: 1; /* Voll sichtbar */
    }
}



.content-wrapper {
    position: absolute;
    display: flex;
    flex-direction: column;
    gap: 5vh;
    align-self: left;

    width: 76%;
    border-right: 1px solid;
    border-image: linear-gradient(to bottom, #220537, #5afff5, #220537) 1;

 
    transform: translateX(-10%); /* Startposition ist außerhalb auf der linken Seite */
    animation: content-fly-in 0.5s ease-out forwards; /* Animation anwenden */
}

/* Keyframes für das Einfliegen des Bildes */
@keyframes content-fly-in {
    0% {
        transform: translateX(-10%); /* Bild ist außerhalb auf der linken Seite*/ 
        opacity: 0; /* Bild ist unsichtbar */
    }
    100% {
        transform: translateX(0); /* Bild fliegt in seine endgültige Position */
        opacity: 1; /* Bild ist sichtbar */
    }
}

#second-line {
    position: relative;
    border: none;
    border-top: 1px solid;
    border-image: linear-gradient(to right, #5afff5, #5afff5, #220537) 1;

    width: 50vw;
    text-align: left;
    margin-top: 9vh;


    opacity: 0; /* Beginnt unsichtbar */
    transform: translateX(-100%); /* Start von links außerhalb */
    animation: line-animation 1s forwards; /* Animation anwenden */

    animation-delay: 0.2s; /* Verzögerung für die zweite Linie */
}

#second-line.expanded {
    margin-top: 10vh;
    /* Erhöhter Abstand, wenn der Text erweitert ist */
    margin-bottom: 5vh;
}


.movie-content {
    transition: max-height 1s ease-out;
    /* Animation für sanfte Anpassung */
    overflow: hidden;
    /* Verhindert, dass unsichtbarer Text angezeigt wird */
   /*  max-height: 30vh;  Standardhöhe im gekürzten Zustand */
    align-self: left;
    display: flex;
    flex-direction: column;
    margin: 5vh 0 0 30vw;
    width: 58%;
    height: fit-content;
    color: white;
    font-family: "Lato", sans-serif;
    line-height: 1.5;
   
}

.movie-content p {
    font-size: 1.3rem;
    line-height: 1.5;
    -webkit-text-stroke: 0.3px white;
}

.movie-content .title {
    font-size: 2.5rem;
    -webkit-text-stroke: 1.5px white;
}



.movie-content.expanded {
 /*   max-height: none;
    /*Ein großer Wert, der den gesamten Inhalt abdeckt */
 /*   max-height: 100vh;*/
    overflow: visible;
    height: auto;
}


.mehr-weniger-button {
    margin: 2vh 0 0 0;
    width: 15vw;
    padding: 5px 40px;
    background-color: #560192;
    border-radius: 90px;
    border: none;
    color: #5afff5;
    -webkit-text-stroke: 0.5px #5afff5;
    font-size: 1.2em;
    font-family: "Lato", sans-serif;
    cursor: pointer;
    box-shadow: 1px 1px 10px  #000000;
    box-shadow: inset 0 0 0 0 #5afff46a;
    transition: box-shadow 0.4s ease-out, color 0.4s ease, -webkit-text-stroke 0.4s ease;
}


.mehr-weniger-button:hover {
  /*  background-color: #7a02cf;*/
  box-shadow: inset 19vw 0 0 0 #5afff46a;
 color: white;
 -webkit-text-stroke: 1px  white;
}

/* CSS für die Showtimes Grid */
.showtimes-grid {
    width: 55%;
    position: relative;
    /*margin: -22vh 0 0 31vw;*/
    align-self: center;

    margin: 0 0 0 25vw;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(13.5vw, 1fr));
    gap: 0.2vw;
    transition: margin-top 0.4s ease-out;
    height: max-content;
    /*  background-color: antiquewhite;*/
}


.showtimes-grid.expanded {
    margin-top: 10vh;
    /* Erhöhter Abstand, wenn der Text erweitert ist */
    margin-bottom: 5vh;
}


.showtime-grid-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    /*height: 17vh;*/
    height: fit-content;
    margin: 10px;

}

.showtime-datetime {
    text-align: center;
    width: 100%;
    background-color: rgb(90, 255, 245, 0.6);
    font-family: "Lato", sans-serif;
    padding: 20px;
    line-height: 1.5;
    color: white;
    border-radius: 5px 5px 0 0;
}

.showtime-date {
    font-size: 1em;
    font-weight: bolder;

}

.showtime-time {
    font-size: 2em;
    font-weight: 500;
    -webkit-text-stroke: 0.2px white;

}

.showtime-room {
    background: linear-gradient(to right, rgb(124, 59, 218), rgb(110, 76, 149), rgba(66, 41, 87, 255));
    font-size: 1em;
    font-weight: bold;
    font-family: "Lato", sans-serif;
    color: white;
    width: 100%;
    text-align: center;
    padding: 10px;
    margin-top: 3px;
    height: 100%;
    border-radius: 0 0 5px 5px;

}



.movie-info {
    position: absolute;
    display: flex;
    font-size: 2.5rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 2vh 1.5vw 0 80vw;
    right: 0;
    width: fit-content;
    font-weight: 100;
    gap: 5vh;


    transform: translateY(-10%); /* Startposition ist außerhalb auf der linken Seite */
    animation: info-fly-in 1s ease-out forwards; /* Animation anwenden */

}


/* Keyframes für das Einfliegen des Bildes */
@keyframes info-fly-in {
    0% {
        transform: translateY(-10%); /* Bild ist außerhalb auf der linken Seite */
        opacity: 0; /* Bild ist unsichtbar */
    }
    100% {
        transform: translateY(0); /* Bild fliegt in seine endgültige Position */
        opacity: 1; /* Bild ist sichtbar */
    }
}

.movie-info p {
    color: #5afff5;
    -webkit-text-stroke: 0.5px #5afff5;
    font-family: "Lato", sans-serif;
    font-size: 0.6em;
}



.movie-info .vertical-line {
    border: none;
    border-left: 0.01vw solid #5afff5;
    margin: 5vh 0 0 20vw;
    height: auto;
    
}

.ticket-button {
    display: flex;
    align-self: center;

    justify-content: center;
    text-align: center;
    align-items: center;
    text-decoration: none; 
    padding: 0.5em;
    font-family: "Lato", sans-serif;
    font-size: 0.6em;
    -webkit-text-stroke: 1px white;
    letter-spacing: 0.15em;
    border-radius: 100px;
    margin: 5vh 0 0 0;
    width: 19vw;
    background: linear-gradient(to right, rgb(124, 59, 218), rgb(110, 76, 149), rgba(66, 41, 87, 255));
    box-shadow: inset 0 0 0 0 #5afff44b;
    transition: box-shadow 0.4s ease-out, border 0.6s ease;
    border: 0.5px solid #220537;

}

.ticket-button .ticket-icon {
    margin-left: 0.5vw;
    width: 2em;
}

.ticket-button:hover {
    box-shadow: inset 19vw 0 0 0 #5afff47a;
    border: 1px solid white;
}



