@import url("https://fonts.googleapis.com/css2?family=Lato:wght@100&display=swap");


body {
    display: flex;
    flex-direction: column;
    /* Vertikale Anordnung */
    justify-content: flex-start;
    /* Inhalt am oberen Rand ausrichten */
    align-items: center;
    /* Horizontale Zentrierung */
    height: 100vh;
    /* Volle Höhe des Viewports */
    margin: 0;
    /* Standardmargin entfernen */
    /*font-family: "Lato", sans-serif;*/
    overflow-y: auto;
    /* Vertikale Scrollbar bei Bedarf anzeigen */
    overflow-x: hidden;
    padding: 0;
}

#movie-title {
    font-family: "Lato", sans-serif;
    -webkit-text-stroke:1.7px white;
    letter-spacing: 3px;
}

::-webkit-scrollbar {
    width: 10px;
    /* Breite der Scrollbar */
}

/* Hintergrund der Scrollbar */
::-webkit-scrollbar-track {
    background: #b089f2;
    border-radius: 10px;
}

/* Scroll-Leiste */
::-webkit-scrollbar-thumb {
    background: white;
    /* Farbe der Scroll-Leiste */
    border-radius: 10px;
}

/* Scroll-Leiste beim Hover */
::-webkit-scrollbar-thumb:hover {
    background: #5afff5;
    /* Farbe der Scroll-Leiste beim Hover */
}

.arrow{
    width: 1.3em;
    margin-left: -10vw;
    margin-top: 0.5vh;


}


.left-aligned {
    position: absolute;
    margin-top: 21vh;
    display: flex;
    /* Flex für die enthaltenen Elemente */
    justify-content: flex-start;
    /* Elemente nach links ausrichten */
    width: 100%;
    /* Nimmt die volle Breite ein */
    height: 73vh;
    flex-direction: column;
   
}



#movie-image {
    width: 21vw;
    height: 55vh ;
    border-radius: 1em;
    border: 0.025vh solid #5afff5;
    margin: 5vh 0 0 6vw;
}


.first-line {
    display: flex;
    justify-content: flex-start;
    border: none;
    border-top: 0.5px solid #5afff5;
    width: 50vw;
    margin-left: 0;
    margin: 0;
    /* Entfernt alle Ränder */
    padding: 0;
    /* Entfernt Innenabstand */

}

.second-line {
    border: none;
    border-top: 0.1px solid #5afff5;
    width: 50vw;
    text-align: left;
    margin-top: 5vh;
}

.movie-content {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin: 6vh 0 0 31vw;
    width: 50%;
    color: white;
    font-family: "Lato", sans-serif;
    line-height: 1.5;
}

.movie-content p{
    font-size: 1.5em;
    line-height: 1.5;
    -webkit-text-stroke: 0.3px white;
}

.movie-content .title{
    font-size: 3em;
    -webkit-text-stroke: 1.5px white;
}

/* CSS für die Showtimes Grid */
.showtimes-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 10px;
}

.showtime-grid-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.showtime-datetime {
    text-align: center;
}

.showtime-date {
    font-size: 16px;
    font-weight: bold;
}

.showtime-time {
    font-size: 14px;
    color: #555;
}

.showtime-screen {
    margin-top: 10px;
    font-size: 14px;
    color: #333;
}



.movie-info {
    position: absolute;
    display: flex;
    font-size: 3em;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 2vh 1.5vw 0 80vw;
    right: 0;  
    width: fit-content;
    font-weight: 100;
    gap: 5vh;
    
  
}

.movie-info p {
    color: #5afff5;
    -webkit-text-stroke: 0.5px  #5afff5;
    font-family: "Lato", sans-serif;
    font-size: 0.6em;
}

.movie-info .vertical-line{
    border: none;
    border-left: 0.01vw solid #5afff5;
    margin: 5vh 0 0 20vw;
    height: auto;
}

.ticket-button {
    display: flex;
    align-self: center;
    /*position: relative;*/
    justify-content: center;
    text-align: center;
    align-items: center;
    text-decoration: none;
    background: linear-gradient(to right, rgb(124, 59, 218), rgb(110, 76, 149), rgba(66, 41, 87, 255));
    padding: 0.5em;
    font-family: "Lato", sans-serif;
    font-size: 0.6em;
    -webkit-text-stroke: 1px white;
    letter-spacing: 0.15em;
    border-radius: 100px;
    margin: 10vh 0 0 0;

}

.ticket-button .ticket-icon {
    margin-left: 0.5vw;
    width: 2em;
}