@import url("https://fonts.googleapis.com/css2?family=Lato:wght@100&display=swap");


.content-class {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    /* Passt die Breite der Untercontainer an */
    gap: 10px;
    /* Optional: Abstand zwischen den Untercontainern */
    align-items: center;
    align-content: center;
    justify-content: center;
    justify-items: center;
    animation: fadeInFromTop 1s ease-out forwards;
    padding-top: 180px;
    padding-bottom: 200px;

}

#legend {
    margin-bottom: 10px;
    font-family: "Lato", sans-serif;
    font-size: 1.5rem;
    font-weight: bold;
}

span {
    font-family: "Lato", sans-serif;
    font-size: 1.2rem;
    font-weight: bold;
    padding: 10px;
    border-radius: 5px;

}

@keyframes fadeInFromTop {
    0% {
        opacity: 0;
        transform: translateY(-50px);
        /* Start außerhalb des Bildschirms */
    }

    100% {
        opacity: 1;
        transform: translateY(0);
        /* Endposition */
    }
}


.leinwand {
    height: 40px;
    width: 600px;
    background-color: #b089f2;
    text-align: center;
    font-family: "Lato", sans-serif;
    font-size: 1.2rem;
    font-weight: bold;
    justify-content: center;
    align-items: center;
    justify-items: center;
    font-size: 18px;
    color: white;
    margin-top: 15px;
    border: 2px solid black;
    display: flex;
    border-radius: 5px;
    /* Abgerundete Ecken */
    opacity: 0;
    /* Starten mit unsichtbarem Element */
    transform: translateY(-50px);
    /* Start außerhalb des Viewports */
    animation: fadeInFromTop 0.6s ease-out forwards;
}

/* Stil für jeden Sitzplatz */
.seat {
    width: 50px;
    /* Breite des Sitzplatzes */
    height: 50px;
    /* Höhe des Sitzplatzes */
    margin: 5px;
    /* Abstand zwischen den Sitzplätzen */
    display: inline-block;
    text-align: center;
    /* Text (z.B. Sitznummer) wird zentriert */
    line-height: 40px;
    /* Text vertikal zentrieren */
    cursor: pointer;
    /* Zeigt den Cursor als Hand, wenn der Benutzer darüber fährt */
    border: 2px solid black;
    /* Rand um den Sitzplatz */
    border-radius: 5px;
    /* Abgerundete Ecken */
    opacity: 0;
    /* Starten mit unsichtbarem Element */
    animation: seatsFadeIn 0.6s ease-out forwards;
    transform: translateY(0) scale(1);

    /* Übergangseffekte */
    transition: transform 0.2s ease-in-out, background-color 0.2s ease-in-out;
}



/* Animation für das Einfliegen */
@keyframes seatsFadeIn {
    0% {
        opacity: 0;
        transform: translateY(-50px) !important;
        /* Start außerhalb des Bildschirms */
    }

    100% {
        opacity: 1;
        transform: translateY(0) !important;
        /* Endposition */
    }
}


.seat.unavailable {
    cursor: not-allowed;
    background-color: gray;
}

/* Stil für bereits reservierte Sitzplätze */
.unavailable {
    cursor: not-allowed;
    /* Cursor zeigt an, dass der Platz nicht verfügbar ist */
    background-color: gray !important;
    /* Graue Farbe für reservierte Plätze */
}

/* Container für Sitzplätze */
#seats-container {
    display: flex;
    flex-wrap: wrap;
    /* Sitzplätze werden umgebrochen */
    justify-content: center;
    /* Zentriert die Sitzplätze im Container */
    /*  max-width: 1000px;*/
    margin: 20px auto;
    margin-top: 10px;
    gap: 10px;
    /* Abstand zwischen den Sitzplätzen */
    flex-direction: column;

}




/* Jede Reihe von Sitzplätzen */
.row {
    display: flex;
    gap: 5px;
    /* Abstand zwischen den Sitzplätzen in der Reihe */
    align-items: center;
    align-content: center;
    justify-content: center;
}

/* Stil für ausgewählte Sitzplätze */
.selected {
    background-color: purple !important;
    /* Farbe für ausgewählte Plätze */
}

.seat.selected {
    background-color: purple !important;
}

/* Farben für Sitzplatzkategorien */
.seat[data-category="0"] {
    background-color: lightgreen;
    /* Parkett */
}

.seat[data-category="1"] {
    background-color: gold;
    /* VIP */
}

.seat[data-category="2"] {
    background-color: lightblue;
    /* Loge */
}

/* Stil für den Bestätigungsbutton */
#confirm-btn {
    margin-top: 10px;
    padding: 10px 20px;
    font-family: "Lato", sans-serif;
    font-size: 1.2rem;
    font-weight: bold;
    background-color: #5afff5;
    color: #2e054b;
    letter-spacing: 1px;
    -webkit-text-stroke: 1px #2e054b;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease, border 0.3s ease, color 0.3s ease, transform 0.3s ease-in-out, -webkit-text-stroke 0.3s ease-in-out;
    border: 1px solid transparent;
}

#confirm-btn:hover {
    background-color: #2e054b;
    border: 1px solid rgba(92, 225, 230);
    color: #5afff5;
    transform: scale(1.1);
    -webkit-text-stroke: 1px #5afff5;

}

/* Hover-Effekt für verfügbare Sitzplätze */
.seat:hover:not(.unavailable) {
    background-color: pink;
    transform: translateY(0) scale(1.2);
}

#tooltip {
    position: absolute;
    display: none;
    background-color: #220537;
    color: slateblue;
    padding: 5px;
    border-radius: 4px;
    font-size: 12px;
    z-index: 1000;
}